{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": "off",
    "eol-last": "off",
    "arrow-parens": ["error", "as-needed"],
    "require-jsdoc": "off",
    "operator-linebreak": "off"
  },
  "extends": ["eslint:recommended", "google"]
}
