@import "variables";
@import "mixins";

.table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  left: 0;
  right: 0;
  overflow-x: auto;
}

.row {
  display: flex;
  min-height: 20px;
  height: $row-height;

  &__info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    border-top: none;
    background-color: #f8f9fa;
  }

  &__resize {
    left: 0;
    height: 4px;

    &:hover {
      cursor: row-resize;
    }
  }

  &__data {
    display: flex;
  }
}

.columns {

  &__head {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    width: $cell-width;
    height: 100%;
    background-color: #f8f9fa;
    border: 1px solid $border-color;
    border-top: none;
    border-left: none;
  }

  &__resize {
    top: 0;
    width: 4px;

    &:hover {
      cursor: col-resize;
    }
  }
}

.row__resize,
.columns__resize {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  opacity: 0;
  z-index: 10;

  &:hover {
    opacity: 1 !important;
  }
}

.cell {
  min-width: 40px;
  width: $cell-width;
  height: 100%;
  padding: 5px;
  border: 1px solid #e2e3e3;
  border-top: none;
  border-left: none;
  white-space: nowrap;
  outline: none;

  &:focus {
    outline: 2px solid #1a73e8;
    outline-offset: -2px;
  }

  &.selected {
    outline: 2px solid $primary-color;
    outline-offset: -2px;
  }
}
