@import "variables";
@import "mixins";

.toolbar {
  position: fixed;
  top: $header-height;
  display: flex;
  align-items: center;
  width: 100%;
  height: $toolbar-height;
  padding: 0 4px;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background-color: $bg-color;
  z-index: 10;
}
